.topHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 55px;
  background-color: #f55a5a;
}

.topHeader p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.075em;
  color: #ffffff;
}

.globeIcon {
  font-size: 30px;
  color: #ffffff;
}

/* Card */
.card--Container {
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 80%;
}
.card {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  height: 200px;
  /* background-color: aqua; */
}
.card-img {
  width: 125px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-locIcon {
  color: #f55a5a;
}

.card-location {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin-right: 10px;
  color: #2b283a;
}

.googleLink {
  font-weight: 400;
  font-size: 14px;
  color: #918e9b;
}

.card-tittle {
  font-weight: 700;
  font-size: 25px;
  color: #2b283a;
  margin: 10px 0 20px 0;
}

.card-dates {
  font-weight: 700;
  font-size: 14px;
  color: #2b283a;
  margin-bottom: 8px;
}

.card-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2b283a;
}
